<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App Track</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src= "{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Welcome to AppTrack</h1>
            <h2>Track your job applications easier!</h2>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Emails</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
        <div>

        </div>
        <div>
            <table id="addTable">
                <tr><th>Add an application:</th><th></th><th></th><th></th><th></th></tr>
                <tr id="addAppRow">
                        <td><input type="text" placeholder="Company" id="company"></td>
                        <td><input type="text" placeholder="Position" id="position"></td>
                        <td>
                            <select id="status">
                                <option value="WAITING" selected>WAITING</option>
                                <option value="INTERVIEW">INTERVIEW</option>
                                <option value="OFFER">OFFER</option>
                                <option value="REJECTED">REJECTED</option>
                            </select>
                        </td>
                        <td></td>
                        <td><input type="submit" id="addButton" value="Add"></td>
                    </tr>
            </table>

            <table id="table">
                 <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company</th>
                        <th>Position</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="appsBody">



                </tbody>
            </table>
        </div>
    </body>
</html>
